div{background:white;}
#b1{width: 1200px; height: 190px; margin-bottom: 20px; padding: 10px; background:grey;}
#b2{background:skyblue;}
#b3{width: 20%; float:left}
#b4{width: 53%; float:left}
#b5{width: 9%; float:left}
#b6{clear:both;}
