.fg1{margin:1%; background:grey;}
div{margin:0px; padding:0px; background:yellow;}
#b1{background:yellow;}
#b2{background:skyblue;}
#b6{background:skyblue;}
#b3{width: 25%; float:left}
#b4{width: 61%; float:left}
#b5{width: 9%; float:left}
#b6{clear:both;}


